In [1]:
import numpy as np

In [23]:
weight = np.random.uniform(20,80,25 ).astype('float32')
weight

array([28.7893  , 34.973328, 45.627567, 70.938805, 50.767567, 54.98993 ,
       51.118908, 57.21281 , 42.341457, 35.970806, 32.013454, 25.485973,
       51.143726, 21.57291 , 68.62337 , 59.101494, 67.43176 , 32.23359 ,
       20.058512, 57.070473, 31.992432, 24.431316, 35.216633, 26.000616,
       60.632725], dtype=float32)

In [24]:
height = np.random.randint(0,180,25)
height = height.astype('float32')
print(height.dtype)

float32

In [25]:
age = np.random.uniform(20,80,25).astype('int32')
len(age)

25

In [26]:
Names = ["""Novah Chandler
Royal Magana
Amaris Vasquez
Rowan Jensen
Jane Crosby
Tristen Matthews
Lila Andrews
Lukas Sheppard
Veda Torres
Jayden Blevins
Aila Clark
John Sanford
Emerald Short
Hezekiah Evans
Eliana Murray
Ashton Barry
Waverly Dorsey
Enoch Ho
Calliope Abbott
Kohen Hoffman
Aspen Hail
Hector Griffith
Alicia Adams
Hudson Holland
Mariah Stein
"""]

# Split the names into a list
Names = Names[0].strip().split('\n')

# Remove any empty strings
Names = [Names.strip() for Names in Names if Names.strip()]

# Print the result

Names

['Novah Chandler',
 'Royal Magana',
 'Amaris Vasquez',
 'Rowan Jensen',
 'Jane Crosby',
 'Tristen Matthews',
 'Lila Andrews',
 'Lukas Sheppard',
 'Veda Torres',
 'Jayden Blevins',
 'Aila Clark',
 'John Sanford',
 'Emerald Short',
 'Hezekiah Evans',
 'Eliana Murray',
 'Ashton Barry',
 'Waverly Dorsey',
 'Enoch Ho',
 'Calliope Abbott',
 'Kohen Hoffman',
 'Aspen Hail',
 'Hector Griffith',
 'Alicia Adams',
 'Hudson Holland',
 'Mariah Stein']

In [27]:
Surname = ["""Smith,
Johnson,
Williams,
Brown,
Jones,
Garcia,
Miller,
Davis,
Rodriguez,
Martinez,
Hernandez,
Lopez,
Gonzalez,
Wilson,
Anderson,
Thomas,
Taylor,
Moore,
Jackson,
Martin,
Lee,
Perez,
Thompson,
White,
Harris"""]

surname = Surname[0].strip().split(',')

surname = [surname.strip() for surname in surname]


surname

['Smith',
 'Johnson',
 'Williams',
 'Brown',
 'Jones',
 'Garcia',
 'Miller',
 'Davis',
 'Rodriguez',
 'Martinez',
 'Hernandez',
 'Lopez',
 'Gonzalez',
 'Wilson',
 'Anderson',
 'Thomas',
 'Taylor',
 'Moore',
 'Jackson',
 'Martin',
 'Lee',
 'Perez',
 'Thompson',
 'White',
 'Harris']

In [28]:
df = pd.DataFrame({'Names': Names,
                   'Surname':surname,
                   'Age':age,
                  'Height':height,
                  'Weight':weight})

In [29]:
def lengthcheck(list):
    print(len(list))
    

lengthcheck(weight)

25

In [30]:
df['Weight']= df['Weight'].astype('int32')

In [31]:
df['First Name'] = df['Names'].apply(lambda x: x.split()[0])

# Create the 'Full Name' column by combining the 'First Name' and 'Surname' columns
df['Full Name'] = df['First Name'] + ' ' + df['Surname']

In [32]:
columns = ['Names','Surname']
df.drop(columns=columns,inplace=True)

In [33]:
df.drop(columns='First Name',inplace=True)

In [46]:
df

           Full Name  Age  Height  Weight
0        Novah Smith   58    65.0      28
1      Royal Johnson   74    97.0      34
2    Amaris Williams   22    76.0      45
3        Rowan Brown   60   134.0      70
4         Jane Jones   35    64.0      50
5     Tristen Garcia   54    23.0      54
6        Lila Miller   33   115.0      51
7        Lukas Davis   45   132.0      57
8     Veda Rodriguez   76   130.0      42
9    Jayden Martinez   63   170.0      35
10    Aila Hernandez   55   145.0      32
11        John Lopez   56   164.0      25
12  Emerald Gonzalez   37     6.0      51
13   Hezekiah Wilson   30   162.0      21
14   Eliana Anderson   38   175.0      68
15     Ashton Thomas   49   176.0      59
16    Waverly Taylor   21   118.0      67
17       Enoch Moore   42    47.0      32
18  Calliope Jackson   51    43.0      20
19      Kohen Martin   22    54.0      57
20         Aspen Lee   27   112.0      31
21      Hector Perez   69   162.0      24
22   Alicia Thompson   21   124.0      35
23      Hudson White   36    54.0      26
24     Mariah Harris   38    17.0      60

In [36]:
cols = ['Full Name'] + [col for col in df.columns if col != 'Full Name']
df = df[cols]


### to call attribute we don't need () and to call methods we need ()

In [ ]:
def is_even(num):
    if num %2 ==0:
         print("even")
    else:
        print("odd")
        
x = is_even(4)
print(x)

1074

NameError: name 'dtype' is not defined